<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <phpcoder>
            <options>
                <guest_checkout>0</guest_checkout>
            </options>
        </phpcoder>
        <checkout>
            <options>
                <guest_checkout>0</guest_checkout>
            </options>
        </checkout>
    </default>
</config>
